body,
p,
div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 105%;
}

#container {
  width: 50vw;
  margin: 1rem auto;
}

@media screen and (max-width: 600px){
    #container{
        width: 90vw;
    }
}

#container h1 {
  text-align: center;
}
section {
  padding: 12px 0;
  font-weight: 400;
}
.paleteContainer h2 {
  font-size: 1.2rem;
  font-weight: 400;
}

.loadingPalete{
    background-color: rgba(129, 224, 224,0.3);
    width: 99%;
    min-height: 2rem;
    border-radius: 1.2rem;
    padding: 0.3em 2rem;
    font-weight: bolder;
}

.loadingPalete_spec{
  background-color: rgba(129, 224, 224,0.3);
  width: 100%;
  min-height: 6rem;
  border-radius: 1.2rem;
  padding: 0.3em 2rem;
  font-weight: bolder;
}

footer>p{
  font-size: 0.8em;
  border-top: 1px solid rgba(107, 102, 102, 0.3);
  padding-top: 2rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
